@import './variables';

$content-widths: (
	$sm: $sm-content-width,
	$md: $md-content-width,
	$lg: $lg-content-width,
	$xl: $xl-content-width
);

$grid-gutter: $base-size * 2;
$grid-columns: 12;

// Containers
.container,
.container-fluid {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	padding-right: ($grid-gutter / 2);
	padding-left: ($grid-gutter / 2);
	margin-right: auto;
	margin-left: auto;
}

.container {
	@each $breakpoint, $content-width in $content-widths {
		@media (min-width: #{$breakpoint}) {
			max-width: #{$content-width};
		}
	}
}

// Row
.row {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	box-sizing: border-box;
	margin-right: -$grid-gutter / 2;
	margin-left: -$grid-gutter / 2;
	flex-wrap: wrap;
}

// Columns
[class^='col-'],
[class*=' col-'],
.col {
	position: relative;
	box-sizing: border-box;
	padding: $grid-gutter / 2;
	flex: 0 1 auto;
}

@each $breakpoint, $width in $breakpoints-min {
	@media (min-width: $width) {
		@for $i from 1 through $grid-columns {
			.col-#{$breakpoint}-#{$i} {
				width: percentage($i / $grid-columns);
			}
		}
	}
}

// Offsets
@each $breakpoint, $width in $breakpoints-min {
	@media (min-width: $width) {
		@for $i from 0 through $grid-columns {
			.col-#{$breakpoint}-offset-#{$i} {
				margin-left: percentage($i / $grid-columns);
			}
		}
	}
}

// Hide
.hide {
	display: none !important;
	visibility: hidden;
}

@each $breakpoint, $width in $breakpoints-max {
	@media (max-width: $width) {
		.hide-#{$breakpoint}-down {
			display: none !important;
			visibility: hidden;
		}
	}
}

@each $breakpoint, $width in $breakpoints-min {
	@media (min-width: $width) {
		.hide-#{$breakpoint}-up {
			display: none !important;
			visibility: hidden;
		}
	}
}
