@import './variables';

// spacing
@mixin pt-1 {
  padding-top: map-get($spaces, 1);
}

@mixin mt-2 {
  margin-top: map-get($spaces, 2);
}

@mixin pr-2 {
  padding-right: map-get($spaces, 2);
}

@mixin ma-3 {
  margin: map-get($spaces, 3);
}

@mixin pa-3 {
  padding: map-get($spaces, 3);
}

@mixin pt-3 {
  padding-top: map-get($spaces, 3);
}

@mixin pb-3 {
  padding-bottom: map-get($spaces, 3);
}

@mixin pl-3 {
  padding-left: map-get($spaces, 3);
}