@import './variables';

// spacing
@mixin ma-($space) {
  margin: map-get($spaces, $space);
}

@mixin mx-($space) {
  margin-left: map-get($spaces, $space);
  margin-right: map-get($spaces, $space);
}

@mixin my-($space) {
  margin-top: map-get($spaces, $space);
  margin-bottom: map-get($spaces, $space);
}

@mixin mt-($space) {
  margin-top: map-get($spaces, $space);
}

@mixin mr-($space) {
  margin-right: map-get($spaces, $space);
}

@mixin mb-($space) {
  margin-bottom: map-get($spaces, $space);
}

@mixin ml-($space) {
  margin-left: map-get($spaces, $space);
}

@mixin pa-($space) {
  padding: map-get($spaces, $space);
}

@mixin px-($space) {
  padding-left: map-get($spaces, $space);
  padding-right: map-get($spaces, $space);
}

@mixin py-($space) {
  padding-top: map-get($spaces, $space);
  padding-bottom: map-get($spaces, $space);
}

@mixin pt-($space) {
  padding-top: map-get($spaces, $space);
}

@mixin pr-($space) {
  padding-right: map-get($spaces, $space);
}

@mixin pb-($space) {
  padding-bottom: map-get($spaces, $space);
}

@mixin pl-($space) {
  padding-left: map-get($spaces, $space);
}

//design
@mixin elevate {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
}
