$position-list: (relative, absolute, fixed);

@each $option in $position-list {
  .p-#{$option} {
    position: $option;
  }
}

$display-list: (flex, block);

@each $option in $display-list {
  .d-#{$option} {
    display: $option;
  }
}

$flex-direction-list: (column, row);

@each $option in $flex-direction-list {
  .fd-#{$option} {
    flex-direction: $option;
  }
}

$align-items-list: (center);

@each $option in $align-items-list {
  .ai-#{$option} {
    align-items: $option;
  }
}

$justify-content-list: (flex-start, center, flex-end, space-between, space-around);

@each $option in $justify-content-list {
  .jc-#{$option} {
    justify-content: $option;
  }
}

$flex-grow-list: (0, 1);

@each $option in $flex-grow-list {
  .fg-#{$option} {
    flex-grow: $option;
  }
}

$text-align-list: (right, center, left, justify);

@each $option in $text-align-list {
  .ta-#{$option} {
    text-align: $option;
  }
}
